<div class="card mt-2">
  <div class="card-header">
    Products Details
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>Product Title: {{maleProducts?.title}}</h5>
      </li>
      <li class="list-group-item">
        <h5>Product Description: {{maleProducts?.desc}}</h5>
      </li>
      <li class="list-group-item">
        <h5>Product Price: {{maleProducts?.price}}</h5>
      </li>
      <li class="list-group-item">
        <img src="{{maleProducts?.image}}" alt="">
      </li>
      <li class="list-group-item">
        <h5>Product Rating: {{maleProducts?.ratings}}</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit()">Edit</button>
    <button type="button" class="btn btn-outline-warning  m-1 btn-sm" (click)="onDelete()">Delete</button>
  </div>
</div>
<button type="button" class="btn btn-secondary  m-2 " (click)="onGoBackToList()">Go back to list</button>

