<div class="login">
  <mat-card class="login_container">
    <img routerLink="/" src="https://i.imgur.com/JGRUyd4.png" alt="" class="login_logo">
    <div class="login_form">
      <form [formGroup]="adminLogInForm" (ngSubmit)="onLogin()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
        </p>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>
        <a href="" routerLink="/forgot-password">Forgot Password?</a>
        <button (click)="onLogin()" mat-raised-button  type="button" class="login_signin_button">Log in</button>
        <p class="login_terms">By continuing, you agree to Dumbo's Conditions of Use and Privacy Notice.</p>
      </form>
    </div>
  </mat-card>
  </div>
