.login{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.login_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_logo{
  object-fit: contain;
  width: 30%;
  margin: 12px 20px 0px 2px;
}
.login_form{
  border: solid lightgray 1px;
  padding: 20px;
  width: 300px;
}
.login_form > h1{
  font-weight: 500;
  margin-bottom: 20px;
}
form > h5{
  margin-bottom:5px;
  font-weight: 500;
}
form >input{
  height: 30px;
  margin-bottom: 10px;
  background-color: rgb(225, 176, 248);
  width: 98%;
}

.login_signin_button{
  background-color: rgb(144, 49, 153);
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  color: black;
  border-color: rgb(199, 27, 233) rgb(126, 46, 126) rgb(230, 29, 248);
}

.login_create_button{
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  color: black;
  border-color: rgb(245, 218, 218);
}
