<input type="text" class="header_menu_input" placeholder="Search" [(ngModel)]="searchTerm" (change)="search($event)">
<ul *ngFor="let product of product">
  <li>{{product.product}}</li>
  <li>{{product.title}}</li>
</ul>

<div class="products">
  <div class="product"  *ngFor="let item of products">
    <mat-card>
      <p>{{item.title}}</p>
      <p>$<strong>{{item.price}}</strong></p>
      <img src={{item.image}}>
      <button (click)="addToCard(item)">Add to card</button>
    </mat-card>
  </div>
</div>
