
<ngb-carousel
[showNavigationArrows]="true"
[showNavigationIndicators]="true"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
[activeId]="'secondSlide'"
>
  <ng-template ngbSlide id="firstSlide">
    <div class="picsum-img-wrapper">
      <img src="https://www.jssor.com/premium/fashion/img/glass-woman.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h4>Woman Collection</h4>
      <button routerLink="/products" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide id="secondSlide">
    <div class="picsum-img-wrapper">
      <img src="https://www.jssor.com/premium/fashion/img/plaza.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h4>Woman Collection</h4>
      <button routerLink="/products" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>



<ngb-carousel
[showNavigationArrows]="true"
[showNavigationIndicators]="true"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
[activeId]="'secondSlide'"
>
  <ng-template ngbSlide id="firstSlide">
    <div class="picsum-img-wrapper">
      <img  src="https://gaudi-fashion.com/media/catalog/category/banner-nuova-categoria-SS21-uomo_1.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h4>Men Collection</h4>
      <button routerLink="/menProducts" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide id="secondSlide">
    <div class="picsum-img-wrapper">
      <img src="https://sepiastories.in/wp-content/uploads/2021/02/Him-Clothing-Banner.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h4>Men Collection</h4>
      <button routerLink="/menProducts" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>




<ngb-carousel
[showNavigationArrows]="true"
[showNavigationIndicators]="true"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
[activeId]="'secondSlide'"
>
  <ng-template ngbSlide id="firstSlide">
    <div class="picsum-img-wrapper">
      <img src="https://j702.vertigonet.it/pub/media/catalog/category/girls_banner_1.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h4>Kids Collection</h4>
      <button routerLink="/kidsProducts" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide id="secondSlide">
    <div class="picsum-img-wrapper">
      <img src="https://i.pinimg.com/originals/6c/52/58/6c52584568600f7c77f91f49be6ea1b4.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h4>Kids Collection</h4>
      <button routerLink="/kidsProducts" type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>
