<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <img routerLink="/" src="https://i.imgur.com/JGRUyd4.png" class = "header_menu_logo" alt="">
      <div class="header_menu_searchBar">
        <input type="text" class="header_menu_input" placeholder="Search" [(ngModel)]="searchTerm" (change)="search($event)">
        <ul *ngFor="let product of products">
          <li>{{product.product}}</li>
          <li>{{product.title}}</li>
        </ul>
        <div class="header_menu_searchBar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div routerLink="/login" class="header_menu_signIn">
        <span class="header_menu_top_item">Hello, Sign in</span>
        <span class="header_menu_top_button">Or Register</span>
      </div>
      <div *ngIf="(afAuth.user | async)">
        User is logged in
        <br>
        <button mat-raised-button  type="button" class="login_signin_button" (click)="logout()">
          Log out
        </button>
      </div>
      <div *ngIf="!(afAuth.user | async)">
        User is not logged in
      </div>
      <div routerLink="/checkout" class="header_menu_card">
        <mat-icon>shopping_bag</mat-icon>
        <p class="header_cart_menu">{{shoppingCard.getCardLength()}}</p>
      </div>
    </div>
  </nav>
  <nav class="header_bottom">
    <ul class="navbar-nav me-auto header_bottom_location_text">
      <span class="header_left_line_one">Delivery to</span>
      <span class="header_left_line_two">Albania</span>
      <li class="nav-item dropdown" [routerLinkActive]="['active-li']"  *ngIf="adminService.admin$ | async">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Edit Products</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/list-of-products">Edit Female Products</a>
          <a class="dropdown-item" href="/new-of-products">Create New Female Products</a>
          <a class="dropdown-item" href="/list-of-male-products">Edit Male Products</a>
          <a class="dropdown-item" href="/new-of-male-products">Create New  Male Products</a>
          <a class="dropdown-item" href="/list-of-kids-products">Edit Kids Products</a>
          <a class="dropdown-item" href="/new-of-kids-products">Create New  Kids Products</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
