.header{
  position: sticky;
  z-index: 100;
  top: 0;
}
.header_top{
  height: 60px;
  background-color: #0F1111;
  font-size: 14px;
  display: flex;
  color: aliceblue;
  padding-right: 8px;
  padding-bottom: 8px;
}

.header_menu{
  display: flex;
  padding: 10px 8px 8px 8px;
  width: 100%;

}

.header_menu > div{
  margin: 8px;
}
.header_menu_icon > mat-icon{
  font-size: 50px;
  align-items: center;
}

.header_menu_searchBar{
  display: flex;
  margin-top: 8px;
  height: 40px;
  justify-content: center;
  flex: 1;
}

.header_menu_input{
  height: 40px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_menu_searchBar_icon{
  background-color: rgb(220, 43, 226);
  height: 40px;
  width: 40px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_menu_logo{
  object-fit: contain;
  width: 120px;
  margin: 2px 2px 1px 0px;
}
.header_menu_card{
  display: flex;
  margin-top: 10px;
  margin-left: 8px;
  height: 50px;
  justify-content: space-around;
}
.header_card_number{
  color: aliceblue;
  font-size: 25px;
  font-weight: 800;
}
.header_menu_signIn{
  display: flex;
  flex-direction: column;
}
.header_menu_top_item{
  font-size-adjust: 10;
  color: lightgrey;
}
.header_menu_top_button{
  font-size-adjust: 13;
  color: lightblue;
}
.header_bottom{
  height: 40px;
  background-color: rgb(215, 74, 243);
  padding-left: 8px;
  font-size: 12px;
}

.header_bottom_location_text{
  color: white;
  display: flex;
  flex-direction: column;
}
.login_signin_button{
  background-color: rgb(144, 49, 153);
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  color: black;
  border-color: rgb(199, 27, 233) rgb(126, 46, 126) rgb(230, 29, 248);
}
