<div class="login">
<mat-card class="login_container">
  <img routerLink="/" src="https://i.imgur.com/JGRUyd4.png" alt="" class="login_logo">
  <div class="login_form">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <p>
          <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
                <input autocomplete="off" formControlName="fullName" type="text" matInput placeholder="Full Name">
          </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
        </p>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <p class="login_terms">By continuing, you agree to Dumbo's Conditions of Use and Privacy Notice.</p>
        <button mat-raised-button class="login_signin_button" (click)="signup()">Sign up</button>
    </form>
  </div>
</mat-card>
</div>

