<div class="checkout">
  <div class="checkout-left">
    <div class="checkout-empty" *ngIf="shoppingCard.getCardLength() == 0">
      <h2>Your shopping bag is empty</h2>
      <p>You have no items in your basket</p>
    </div>
    <div class="checkout-not-empty" *ngIf="shoppingCard.getCardLength() != 0">
      <p><strong>Shopping Card</strong></p>
      <app-checkout-products [checkout_products] = "items" (deleteEvent)= "deleteEventHandler($event)"></app-checkout-products>
    </div>
  </div>
  <div class="checkout-right">
    <app-checkout-subtotal></app-checkout-subtotal>
  </div>
</div>
