.checkout{
  background:none;
  display: flex;
  /* margin: 20px; */
  width: 100%;
  /* min-height: 400px; */


}
.checkout-left{
  flex: 1;
}
.checkout-empty{
  margin: 20px 20px 400px 20px ;
}
.checkout-right{
justify-content: flex-end;
margin-left: 20px;

}
