<div class="card mt-5 mb-5 offset-2 ">
  <form class="mt-3 col-md-8" (ngSubmit)="onSave()" [formGroup]="maleProductsForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Male Product Title" formControlName="title" [class]="isValidField('title')">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Male Product Description" formControlName="desc" [class]="isValidField('desc')">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Male Product Price" formControlName="price" [class]="isValidField('price')">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Male Product Image URL" formControlName="image" [class]="isValidField('image')">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Male Product Rating" formControlName="ratings" [class]="isValidField('ratings')">
      </div>
    </div>
    <button type="submit" class="btn bg-dark btn-block text-light">Save</button>
  </form>
  <button type="button" class="btn btn-secondary  m-2 " (click)="onGoBackToList()">Go back to list</button>
</div>
