<div class="subtotal" *ngIf="shoppingCard.getCardLength() > 0">
  <p>Subtotal: ({{shoppingCard.getCardLength()}}items):
    <strong>${{shoppingCard.getTotal()}}</strong>
  </p>
  <div class="subtotal_gift">
    <input type="checkbox"/>
    <p>This order contains a gift</p>
  </div>
  <button type="button" (click)="onClickCheckout()">Proceed to checkout</button> <!--routerLink="/paypal"-->
  <!-- <div #paypalRef></div> -->
</div>
