<div class="login">
<mat-card class="login_container">
  <img routerLink="/" src="https://i.imgur.com/JGRUyd4.png" alt="" class="login_logo">
  <div class="login_form">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
      <p>
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
      </p>
      <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
      </div>
      <a href="" routerLink="/forgot-password">Forgot Password?</a>

      <button (click)="loginUser()" mat-raised-button  type="button" class="login_signin_button">Log in</button>
      <p class="login_terms">By continuing, you agree to Dumbo's Conditions of Use and Privacy Notice.</p>
      <div>
        <button mat-raised-button  routerLink="/signup" type="button" class="login_create_button">Create new account</button>
      </div>
      <div>
        <button mat-raised-button  routerLink="/admin" type="button" class="login_create_button">Log in as Admin</button>
      </div>
    </form>
  </div>
</mat-card>
</div>











<!-- <div class="login">
  <div class="login_container">
    <img routerLink="/" class="login_logo" src="https://i.imgur.com/JGRUyd4.png" alt="">
    <div class="login_form">
      <form action="" [formGroup]="loginForm">
        <h5>Email</h5>
        <input autocomplete="off" type="email" formControlName = "email" placeholder="Email">
        <h5>Password</h5>
        <input autocomplete="off" type="password" formControlName = "password" placeholder="Password">
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
      </div>
        <button type="button" class="login_signin_button"> Sign in</button>
        <p class="login_terms">By continuing, you agree to Dumbo's Conditions of Use and Privacy Notice.</p>
        <button routerLink="/signup" type="button" class="login_create_button">Create new account</button>
      </form>
    </div>
  </div>
</div> -->
