<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Product Title</th>
      <th scope="col">Product description</th>
      <th scope="col">Product price</th>
      <th scope="col">Product image URL</th>
      <th scope="col">Product Rating</th>
      <th class="d-none d-sm-block" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info" *ngFor="let product of kidsProducts$ | async ">
      <th scope="row">{{product.title}}</th>
      <td>{{product.desc}}</td>
      <td>{{product.price}}</td>
      <td>{{product.image}}</td>
      <td>{{product.ratings}}</td>
      <td class="bnt-group d-none d-sm-block" role="group">
        <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(product)">Edit</button>
        <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToSee(product)">See</button>
        <button type="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
